#Accidentes de Tránsito en Carreteras
DataSet obtenido de [Datos Abiertos](https://www.datosabiertos.gob.pe/dataset/accidentes-de-tr%C3%A1nsito-en-carreteras)

## Carga de Data
Evaluaremos la carga de data de dos (02) maneras diferentes, teniendo las siguientes consideraciones:
*   Caracter separador del **CSV  ';'**
*   Formato del archivos **ANSI** (encoding)
La lectura o carga de datos se realizará desde dos origenes diferentes:
1.   Archivo local temporal del **Google Colab**
2.   URL **Github** como origen y repositorio CSV

### 1. Archivo local temporal del **Google Colab**

In [ ]:
import pandas as pd
import chardet

file_csv = 'SUTRAN_Accidentes_carreteras_2020_2021.csv'

with open(file_csv, 'rb') as f:
  result = chardet.detect(f.readline())
  
df = pd.read_csv(file_csv, sep=';', encoding=result['encoding'])
df.head()

,FECHA_CORTE,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,20211222,20200101,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,20211222,20200101,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,20211222,20200101,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,20211222,20200101,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,20211222,20200101,18:40,LIMA,PE-1N,174,DESPISTE,0,5

### 2. URL **Github** como origen y repositorio CSV

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/CVilaNet/Study-Cases/main/data/'
file_csv = 'SUTRAN_Accidentes_carreteras_2020_2021.csv'
path = url + file_csv

df = pd.read_csv(path, sep=';', encoding=result['encoding'])
df.head()

,FECHA_CORTE,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,20211222,20200101,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,20211222,20200101,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,20211222,20200101,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,20211222,20200101,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,20211222,20200101,18:40,LIMA,PE-1N,174,DESPISTE,0,5

## Exploración Preliminar de Datos

In [ ]:
print(df.shape)
df.info()

(8155, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8155 entries, 0 to 8154
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FECHA_CORTE   8155 non-null   int64
 1   FECHA         8155 non-null   int64
 2   HORA          8155 non-null   object
 3   DEPARTAMENTO  8155 non-null   object
 4   CODIGO_VÍA    8155 non-null   object
 5   KILOMETRO     8155 non-null   object
 6   MODALIDAD     8155 non-null   object
 7   FALLECIDOS    8155 non-null   object
 8   HERIDOS       8155 non-null   object
dtypes: int64(2), object(7)
memory usage: 573.5+ KB

In [ ]:
df.head()

,FECHA_CORTE,FECHA,HORA,DEPARTAMENTO,CODIGO_VÍA,KILOMETRO,MODALIDAD,FALLECIDOS,HERIDOS
0,20211222,20200101,05:40,LIMA,PE-1S,24,DESPISTE,0,0
1,20211222,20200101,16:30,CAJAMARCA,PE-3N,74,DESPISTE,0,0
2,20211222,20200101,07:45,PASCO,PE-3N,103,DESPISTE,0,1
3,20211222,20200101,18:30,CAJAMARCA,PE-08,111,DESPISTE,0,2
4,20211222,20200101,18:40,LIMA,PE-1N,174,DESPISTE,0,5

In [ ]:
# Realizando las estadisticas
pd.crosstab(df.DEPARTAMENTO, df.MODALIDAD)

MODALIDAD      ATROPELLO  CHOQUE  DESPISTE  ESPECIAL  N.I.  VOLCADURA
DEPARTAMENTO
AMAZONAS               3      67        76         2     1          3
ANCASH                12     223       333        17     2         15
APURIMAC               6      80       106         3     1          6
AREQUIPA              13     346       400        14     1         21
AYACUCHO               3      61       101         1     0          2
Arequipa               0       1         1         0     0          0
CAJAMARCA             18     133       183         5     1         10
CALLAO                 0       5         1         0     0          0
CUSCO                 18     152       158         4     0         14
Cusco                  1       0         0         0     0          0
HUANCAVELICA           3      18        38         1     1          1
HUANUCO                6      80        79         5     1          3
ICA                   28     190       147        11     0          1
JUNIN                 28     305       363         7     0         12
LA LIBERTAD           21     179       105        13     4          7
LAMBAYEQUE            24     182       129         5     2          1
LIMA                  81     683       713        64     5         12
LORETO                11      42        27         2     0          0
MADRE DE DIOS         16      97        74         2     0          2
MOQUEGUA               1      58        89         2     0          5
N.I.                   0       4         2         0     1          0
PASCO                  0      39        36         2     0          0
PIURA                 11     169       137         3     2          5
PUNO                  30     207       277         8     2          5
Puno                   0       0         1         0     0          0
SAN MARTIN            12     137       115         6     3          1
TACNA                  6      58        79         5     1          2
TUMBES                 0      14        10         1     0          0
UCAYALI                9      93        49         3     0          0