# Análisis de Datos del **Consumo de Energía Eléctrica de los clientes de Electro Ucayali SA**
Esta base de datos sísmicos contiene todos los parámetros que caracterizan a un sismo, calculados en las mismas condiciones a fin de constituirse como una base homogénea: fecha, hora, latitud, longitud, profundidad y magnitud.
Fuente: [Plataforma de Datos Abietos](https://www.datosabiertos.gob.pe/dataset/consumo-de-energ%C3%ADa-el%C3%A9ctrica-de-los-clientes-de-electro-ucayali-sa)

In [1]:
import pandas as pd

url_Oct2022='https://drive.google.com/file/d/12I3VOnQgbZD78PQ9gTaYLXk7_SbW0K3p/view?usp=sharing'

file_id=url_Oct2022.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id

df_Oct2022 = pd.read_csv(dwn_url, encoding='utf-8', sep=',')
print('DataSet Octubre 2022 \t->Registros: %s \t->Atributos: %s' %(df_Oct2022.shape[0], df_Oct2022.shape[1]))


url_Nov2022='https://drive.google.com/file/d/1VvzbknaoRhfRNgKy3nL9K6u7nutXP5y3/view?usp=sharing'

file_id=url_Nov2022.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id

df_Nov2022 = pd.read_csv(dwn_url, encoding='utf-8', sep=',')
print('DataSet Noviembre 2022 \t->Registros: %s \t->Atributos: %s' %(df_Nov2022.shape[0], df_Nov2022.shape[1]))


url_Dic2022='https://drive.google.com/file/d/172YeNOYug44lyHruwkE7HGD2AMSiwoEZ/view?usp=sharing'

file_id=url_Dic2022.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id

df_Dic2022 = pd.read_csv(dwn_url, encoding='utf-8', sep=',')
print('DataSet Diciembre 2022 \t->Registros: %s \t->Atributos: %s' %(df_Dic2022.shape[0], df_Dic2022.shape[1]))


url_Ene2023='https://drive.google.com/file/d/16OdvcKnJmMMjeSGKy4D6GztTiOGBjJVu/view?usp=sharing'

file_id=url_Ene2023.split('/')[-2]
dwn_url='https://drive.google.com/uc?id=' + file_id

df_Ene2023 = pd.read_csv(dwn_url, encoding='utf-8', sep=',')
print('DataSet Enero 2023 \t->Registros: %s \t->Atributos: %s' %(df_Ene2023.shape[0], df_Ene2023.shape[1]))

DataSet Octubre 2022 	->Registros: 96218 	->Atributos: 12
DataSet Noviembre 2022 	->Registros: 96254 	->Atributos: 12
DataSet Diciembre 2022 	->Registros: 96423 	->Atributos: 12
DataSet Enero 2023 	->Registros: 96526 	->Atributos: 12

In [4]:
df = pd.concat([df_Oct2022, df_Nov2022, df_Dic2022, df_Ene2023], ignore_index=True)
df.shape

(385421, 12)

In [5]:
df.head()

,TITULAR,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_ALTA,TARIFA,PERIODO,CONSUMO_KWATTS,FACTURACION,STATUS_CLIENTE,FECHA_CORTE
0,10001,UCAYALI,PADRE ABAD,PADRE ABAD,250301,20020301,BT5B,202211,54.0,40.4,NORMAL,20221109
1,10002,UCAYALI,PADRE ABAD,PADRE ABAD,250301,20030606,BT5B,202211,1.0,34.7,NORMAL,20221109
2,10003,UCAYALI,CORONEL PORTILLO,YARINACOCHA,250105,20140705,BT5B,202211,53.0,100.1,NORMAL,20221109
3,10004,UCAYALI,CORONEL PORTILLO,YARINACOCHA,250105,20160711,BT5B,202211,100.0,83.8,NORMAL,20221109
4,10005,UCAYALI,CORONEL PORTILLO,YARINACOCHA,250105,20010814,BT5B,202211,99.0,83.4,NORMAL,20221109

In [23]:
tarifa = df.groupby('TARIFA').sum()

In [24]:
tarifa.reset_index(inplace=True)
tarifa.head()

,TARIFA,TITULAR,UBIGEO,FECHA_ALTA,PERIODO,CONSUMO_KWATTS,FACTURACION,FECHA_CORTE
0,BT5B,22215009860,95578730489,7689159909538,77367178413,46844470.00,65697530.1,4250007955980
1,BT5D,8501800,35268965,2841361020,28517668,786537.00,957085.9,1668313069
2,BT8,199590873,691106760,55725506760,558227940,25850.96,501261.7,30697158840

In [25]:
tarifa.columns

Index(['TARIFA', 'TITULAR', 'UBIGEO', 'FECHA_ALTA', 'PERIODO',
       'CONSUMO_KWATTS', 'FACTURACION', 'FECHA_CORTE'],
      dtype='object')

In [30]:
tarifa.drop(['TITULAR', 'UBIGEO', 'FECHA_ALTA', 'PERIODO', 'FECHA_CORTE'], axis=1, inplace=True)
tarifa['COSTO_KWATTS'] = tarifa['FACTURACION'] / tarifa['CONSUMO_KWATTS']
tarifa

  TARIFA  CONSUMO_KWATTS  FACTURACION      COSTO  COSTO_KWATTS
0   BT5B     46844470.00   65697530.1   1.402461      1.402461
1   BT5D       786537.00     957085.9   1.216835      1.216835
2    BT8        25850.96     501261.7  19.390448     19.390448

In [33]:
df_consumo_bt5B = df[(df.TARIFA=='BT5B')]
df_consumo_bt5d = df[(df.TARIFA=='BT5D')]
df_consumo_bt8 = df[(df.TARIFA=='BT8')]

In [32]:
df_consumo_bt8

,TITULAR,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,FECHA_ALTA,TARIFA,PERIODO,CONSUMO_KWATTS,FACTURACION,STATUS_CLIENTE,FECHA_CORTE
254,10255,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202211,8.63,11.9,NORMAL,20221109
255,10256,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202211,8.63,32.5,NORMAL,20221109
1185,11186,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202211,8.63,79.9,NORMAL,20221109
1186,11187,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202211,8.63,256.5,NORMAL,20221109
1187,11188,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202211,8.63,222.5,NORMAL,20221109
...,...,...,...,...,...,...,...,...,...,...,...,...
385217,106323,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202302,8.63,118.1,NORMAL,2023209
385218,106324,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202302,8.63,11.9,NORMAL,2023209
385219,106325,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202302,8.63,286.4,NORMAL,2023209
385220,106326,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202302,28.17,24.9,NORMAL,2023209
385221,106327,UCAYALI,PURUS,PURUS,250401,20190401,BT8,202302,8.63,35.7,NORMAL,2023209